这是一个计算年终数值的demo

一、 读取execel中的数据

In [1]:
import numpy as np
import pandas as pd

df_part1 = pd.read_excel(r"part1.xlsx")
df_part2 = pd.read_excel(r"part2.xlsx")

1. 查看读取的dataframe（数据表格）

In [2]:
"""直接使用df0可以查看整个表格。使用head()只显示头部5行"""
df_part1.head()

   教师编号   姓名  年龄   职称   入职年  入职月    特征1    特征2     特征3    特征4
0     8   于6  70   教师  2004    8  50.55  35.23   94.50  93.90
1    47  王10  48   教授  2006    4  63.56   0.54  110.87  96.31
2    25   于7  70  副教授  2009    1  48.40   8.02   75.70  16.52
3     6   于2  75   教授  2007    7  70.08  90.99   33.24  33.46
4    24   于9  43  副教授  2001    2  96.80  45.27   10.02  29.39

In [3]:
df_part2.head()

   教师编号    姓名  年龄   职称   入职年  入职月    特征1     特征2     特征3    特征4
0   100  姜110  71  副教授  2001   10  27.74   10.26  106.24  38.29
1   101  将116  41  副教授  2007   10  29.17   10.04   19.56  99.87
2   102  将107  70  副教授  2011    5  83.02   51.64   62.49  64.97
3   103  姜107  50   教师  2016    8  55.55  107.31   88.73  92.65
4   104  江104  38   教授  2010   10  73.71   70.56   86.83  85.36

2. 表格合并，组建一个大表格

In [4]:
df = df_part1.append(df_part2)
df

    教师编号    姓名  年龄   职称   入职年  入职月     特征1    特征2     特征3    特征4
0      8    于6  70   教师  2004    8   50.55  35.23   94.50  93.90
1     47   王10  48   教授  2006    4   63.56   0.54  110.87  96.31
2     25    于7  70  副教授  2009    1   48.40   8.02   75.70  16.52
3      6    于2  75   教授  2007    7   70.08  90.99   33.24  33.46
4     24    于9  43  副教授  2001    2   96.80  45.27   10.02  29.39
..   ...   ...  ..  ...   ...  ...     ...    ...     ...    ...
54   154  将113  38  副教授  2005    9   51.58  26.13   39.46   1.47
55   155  姜105  42   院士  2008   11   79.35  48.14   59.67  57.87
56   156  江106  49   教师  1996    2  108.73  94.10   40.88  32.60
57   157  江101  68   教师  2016    5   22.78  30.89   53.28  26.15
58   158  江108  31   教授  2001    1   30.46  48.91   38.73   0.31

[111 rows x 10 columns]

In [5]:
"""教师编号排序"""
df1=df.sort_values(by=["教师编号"])
"""以教师编号为索引"""
df2=df1.set_index("教师编号")

In [6]:
df2

        姓名  年龄   职称   入职年  入职月     特征1    特征2     特征3    特征4
教师编号
1      王11  45   教师  2016   11   10.21   1.26   50.73   2.47
2      张12  76   教师  2001    1  103.27  98.15   62.70  50.29
3       张1  68   教授  2001    1   64.89  94.08  107.64  55.75
4       李9  58   教授  2010    8   44.44  34.96   77.40  49.05
5       苏6  30   教师  2009    7   75.09  51.47   48.29  39.79
...    ...  ..  ...   ...  ...     ...    ...     ...    ...
154   将113  38  副教授  2005    9   51.58  26.13   39.46   1.47
155   姜105  42   院士  2008   11   79.35  48.14   59.67  57.87
156   江106  49   教师  1996    2  108.73  94.10   40.88  32.60
157   江101  68   教师  2016    5   22.78  30.89   53.28  26.15
158   江108  31   教授  2001    1   30.46  48.91   38.73   0.31

[111 rows x 9 columns]

二、 增加年终奖字段

2.1 基本公式

In [7]:
"""因子1"""
df2["因子1"] = 1
df2.loc[df2["职称"] == "副教授", "因子1"] = 3
df2.loc[df2["职称"] == "教授", "因子1"] = 5
df2.loc[df2["职称"] == "院士", "因子1"] = 9
df2

        姓名  年龄   职称   入职年  入职月     特征1    特征2     特征3    特征4  因子1
教师编号
1      王11  45   教师  2016   11   10.21   1.26   50.73   2.47    1
2      张12  76   教师  2001    1  103.27  98.15   62.70  50.29    1
3       张1  68   教授  2001    1   64.89  94.08  107.64  55.75    5
4       李9  58   教授  2010    8   44.44  34.96   77.40  49.05    5
5       苏6  30   教师  2009    7   75.09  51.47   48.29  39.79    1
...    ...  ..  ...   ...  ...     ...    ...     ...    ...  ...
154   将113  38  副教授  2005    9   51.58  26.13   39.46   1.47    3
155   姜105  42   院士  2008   11   79.35  48.14   59.67  57.87    9
156   江106  49   教师  1996    2  108.73  94.10   40.88  32.60    1
157   江101  68   教师  2016    5   22.78  30.89   53.28  26.15    1
158   江108  31   教授  2001    1   30.46  48.91   38.73   0.31    5

[111 rows x 10 columns]

In [8]:
"""因子2, 入职的月份数量"""
df2["月份数"] = (2020 - df2["入职年"]) * 12 + (12 - df2["入职月"])
df2.loc[df2["月份数"] > 10, "因子2"] = 3
df2.loc[df2["月份数"] > 100, "因子2"] = 5
df2.loc[df2["月份数"] > 200, "因子2"] = 9
df2

        姓名  年龄   职称   入职年  入职月     特征1    特征2     特征3    特征4  因子1  月份数  因子2
教师编号
1      王11  45   教师  2016   11   10.21   1.26   50.73   2.47    1   49  3.0
2      张12  76   教师  2001    1  103.27  98.15   62.70  50.29    1  239  9.0
3       张1  68   教授  2001    1   64.89  94.08  107.64  55.75    5  239  9.0
4       李9  58   教授  2010    8   44.44  34.96   77.40  49.05    5  124  5.0
5       苏6  30   教师  2009    7   75.09  51.47   48.29  39.79    1  137  5.0
...    ...  ..  ...   ...  ...     ...    ...     ...    ...  ...  ...  ...
154   将113  38  副教授  2005    9   51.58  26.13   39.46   1.47    3  183  5.0
155   姜105  42   院士  2008   11   79.35  48.14   59.67  57.87    9  145  5.0
156   江106  49   教师  1996    2  108.73  94.10   40.88  32.60    1  298  9.0
157   江101  68   教师  2016    5   22.78  30.89   53.28  26.15    1   55  3.0
158   江108  31   教授  2001    1   30.46  48.91   38.73   0.31    5  239  9.0

[111 rows x 12 columns]

In [9]:
"""计算年终奖"""
df2["年终奖"] = df2["因子1"] * 100 + df2["因子2"] * 980 + 500
df2

,姓名,年龄,职称,入职年,入职月,特征1,特征2,特征3,特征4,因子1,月份数,因子2,年终奖
教师编号,,,,,,,,,,,,,
1,王11,45,教师,2016,11,10.21,1.26,50.73,2.47,1,49,3.0,3540.0
2,张12,76,教师,2001,1,103.27,98.15,62.70,50.29,1,239,9.0,9420.0
3,张1,68,教授,2001,1,64.89,94.08,107.64,55.75,5,239,9.0,9820.0
4,李9,58,教授,2010,8,44.44,34.96,77.40,49.05,5,124,5.0,5900.0
5,苏6,30,教师,2009,7,75.09,51.47,48.29,39.79,1,137,5.0,5500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,将113,38,副教授,2005,9,51.58,26.13,39.46,1.47,3,183,5.0,5700.0
155,姜105,42,院士,2008,11,79.35,48.14,59.67,57.87,9,145,5.0,6300.0
156,江106,49,教师,1996,2,108.73,94.10,40.88,32.60,1,298,9.0,9420.0
157,江101,68,教师,2016,5,22.78,30.89,53.28,26.15,1,55,3.0,3540.0
158,江108,31,教授,2001,1,30.46,48.91,38.73,0.31,5,239,9.0,9820.0

2.2 个别人调整

In [10]:
"""按教师编号查找"""
df2.loc[155]

姓名      姜105
年龄        42
职称        院士
入职年     2008
入职月       11
特征1    79.35
特征2    48.14
特征3    59.67
特征4    57.87
因子1        9
月份数      145
因子2        5
年终奖     6300
Name: 155, dtype: object

In [11]:
df2.loc[155,"年终奖"] = df2.loc[155,"年终奖"] + 1000
df2.loc[155]

姓名      姜105
年龄        42
职称        院士
入职年     2008
入职月       11
特征1    79.35
特征2    48.14
特征3    59.67
特征4    57.87
因子1        9
月份数      145
因子2        5
年终奖     7300
Name: 155, dtype: object

In [12]:
"""按人名调整"""
df2.loc[df2["姓名"] == "苏6","年终奖"] = df2.loc[df2["姓名"] == "苏6","年终奖"] + 1000
df2

,姓名,年龄,职称,入职年,入职月,特征1,特征2,特征3,特征4,因子1,月份数,因子2,年终奖
教师编号,,,,,,,,,,,,,
1,王11,45,教师,2016,11,10.21,1.26,50.73,2.47,1,49,3.0,3540.0
2,张12,76,教师,2001,1,103.27,98.15,62.70,50.29,1,239,9.0,9420.0
3,张1,68,教授,2001,1,64.89,94.08,107.64,55.75,5,239,9.0,9820.0
4,李9,58,教授,2010,8,44.44,34.96,77.40,49.05,5,124,5.0,5900.0
5,苏6,30,教师,2009,7,75.09,51.47,48.29,39.79,1,137,5.0,6500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,将113,38,副教授,2005,9,51.58,26.13,39.46,1.47,3,183,5.0,5700.0
155,姜105,42,院士,2008,11,79.35,48.14,59.67,57.87,9,145,5.0,7300.0
156,江106,49,教师,1996,2,108.73,94.10,40.88,32.60,1,298,9.0,9420.0
157,江101,68,教师,2016,5,22.78,30.89,53.28,26.15,1,55,3.0,3540.0
158,江108,31,教授,2001,1,30.46,48.91,38.73,0.31,5,239,9.0,9820.0

In [13]:
"""特征1 在50---100区间 增加 120% """
df2.loc[(df2["特征1"] > 50) & (df2["特征1"] < 100), "年终奖"] = df2.loc[(df2["特征1"] > 50) & (df2["特征1"] < 100), "年终奖"] * 1.2
df2

,姓名,年龄,职称,入职年,入职月,特征1,特征2,特征3,特征4,因子1,月份数,因子2,年终奖
教师编号,,,,,,,,,,,,,
1,王11,45,教师,2016,11,10.21,1.26,50.73,2.47,1,49,3.0,3540.0
2,张12,76,教师,2001,1,103.27,98.15,62.70,50.29,1,239,9.0,9420.0
3,张1,68,教授,2001,1,64.89,94.08,107.64,55.75,5,239,9.0,11784.0
4,李9,58,教授,2010,8,44.44,34.96,77.40,49.05,5,124,5.0,5900.0
5,苏6,30,教师,2009,7,75.09,51.47,48.29,39.79,1,137,5.0,7800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,将113,38,副教授,2005,9,51.58,26.13,39.46,1.47,3,183,5.0,6840.0
155,姜105,42,院士,2008,11,79.35,48.14,59.67,57.87,9,145,5.0,8760.0
156,江106,49,教师,1996,2,108.73,94.10,40.88,32.60,1,298,9.0,9420.0
157,江101,68,教师,2016,5,22.78,30.89,53.28,26.15,1,55,3.0,3540.0
158,江108,31,教授,2001,1,30.46,48.91,38.73,0.31,5,239,9.0,9820.0

三、 年终奖总额调整

In [14]:
"""计算总额"""
df2["年终奖"].sum()

786604.0

In [15]:
"""与大盘比较"""
DaPan = 800000
diff = DaPan / df2["年终奖"].sum()
diff

1.017030170199999

In [16]:
"""年终奖缩放"""
df2["年终奖"] = df2["年终奖"] * diff

In [17]:
"""重新计算总额"""
df2["年终奖"].sum()

800000.0000000003